<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941075016085-jkdoa24s4t7e69dkap0rinvserep3f6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941075016085-jkdoa24s4t7e69dkap0rinvserep3f6k</string>
	<key>API_KEY</key>
	<string>AIzaSyALxVV71rYZ24P_63z9Asbe0jVXXP-PKVg</string>
	<key>GCM_SENDER_ID</key>
	<string>941075016085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSystem</string>
	<key>PROJECT_ID</key>
	<string>flutter-door</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-door.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941075016085:ios:25d329e72a1fd81a3eee9c</string>
</dict>
</plist>